<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<br>
<br>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author:</strong>
 by <%= @post.user.email %>
</p>

<p>
  <strong>Blog entry:</strong>
  <%= @post.blog_entry %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<br>
<br>
<br>
<div id= "comments">
	<%= render "comments/form", comment: @comment %>
	<% @post.comments.each do |comment| %>
	<h2><%= image_tag comment.user.avatar.url, class: "thumb" %> </h2>
	<p>
		<%= comment.user.username %> said... <br>
		<%= comment.comment_entry %>
	</p>
	<%end %>
</div>